#wapper{
  margin-top: 10px;
  margin-left: 80px;
  margin-right: 80px;
}


.heeader img{
  float: left;
}

.header-menu1{
  float: right;
  margin-left: 30%;
}

.social_share{
  float: left;
  margin-left: 150px;
}

.social_share ul li{
  float: left;
  margin-right: 3px;
}

.fontsize{
  float: left;
  margin-left: 20px;
  font-size: 15px;
  padding-top: 10px;
}

.fontsize ul li{
  float: left;
  margin-left: 10px;
  font-size: 12.8px;
}

.fontsize a{
  border: 1px solid black;
}

.fontsize a:hover{
  background-color:#FFDBC9;
}

.small a{
  background-color: #444444;
  color: white;
}


.header-menu2{
  clear: both;
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-menu2 li{
  float: left;
  margin-right: 5px;
  font-size: 10px;
}

#menu{
  clear: both;
  margin-bottom: 20px;
}

#menu ul{
  display:flex;
  width:100%;
  justify-content: center;
}



#menu ul a {
  width:20%;
  height:30px;
  border: 1px solid black;
  text-align:center;
  font-size: 13px;
  background-color: #FCFCFC;
}

.home{
  background-color:#444444;
  color:white;
  font-size: 14px;
}

ul span{
  color: #DAA520;
  font-size: 1px;
}

#menu ul li:hover{
  background-color: #FDF5E6;
}

.content1{
  display:flex;
  margin-bottom: 30px;
}

.content1-left{
  background-image: url(topimg_dcs.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 300px;
  width: 50%;
}

.content1-right{
  width: 50%;
}

.content1-right-up{
  background-image: url(topimg_exc.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 150px;
}

.content1-right-down{
  background-image: url(topimg_other.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 150px;
}

.content2{
  margin-bottom: 20px;
}

.content3{
  display: flex;
  margin-bottom: 30px;
}

.content3-left{
  width: 70%;
  margin-right: 20px;
  background-color: #FCFCFC;
}

.content3-left a{
  color: blue;
  border-bottom: 1px solid blue;
  font-size: 10px;
  margin-left: 5px;
}

.content3-left a:hover{
opacity: 0.7;
transition-duration: 0.3s;
}

.content3-right{
  width: 30%;
}


.content3-right li:hover{
  opacity: 0.7;
  transition-duration: 0.3s;
}


.content4{
  float: right;
  margin-bottom: 30px;
}

.content4 a{
  font-size: 10px;
}

.content5{
  clear: both;
  border-bottom: 3px solid black;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.content5 img{
  height: 30px;
}

.footer-menu{
  float: right;
  font-size: 10px;
}

.footer-menu li{
  list-style: none;
  float: left;
  margin-right: 10px;
  border-right: 1px solid black;
  padding-right: 10px;
}

.content6{
  display:flex;
  width: 100%;
  font-size: 10px;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.content6 li{
  margin-top: 3px;
}


.content6-1{
  width: 20%;
}

.content6-2{
  width: 20%;
  border-left:1px solid black;
  padding-left: 10px;
}

.content6-3{
  width: 20%;
  border-left:1px solid black;
  padding-left: 10px;
}

.content6-4{
  width: 20%;
  border-left:1px solid black;
  padding-left: 10px;
}

.content7{
  float: right;
  font-size: 10px;
  margin-bottom: 10px;
}
