body{
    font-family:"メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Osaka","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif,verdana;
    word-break:break-all;
    color: #343434;
    font-size: 0.9em
}
.cf{
    clear:both;
}
#wrapper{
    width:940;
    min-width:auto;
    margin-left:0;
    margin-right:0;
}
#list{
    width:940px;
    height:75px;
    margin-left:auto;
    margin-right:auto;
}
#list .list1{
    display:inline-block;
    padding-top:20px;
}
#list .list2{
    float:right;
    position：relative;
    z-index:0;
}
#list .in-list2{
    position:absolute;
    z-index:1;
    right:205px;
    top:13px;
}
#list .in-list2-1{
    position:absolute;
    right:0;
    top:20px;
    display:flex;
    font-size:10px;
}
#list .in-list2-1 span{
    border:1px solid black;
    margin-left:9px;
    font-weight:bold
}
#list .in-list2-2{
    position:absolute;
    right:62px;
    top:52px;
    font-size:10px;
    display:flex;
}
#list .in-list2-2 p:first-child{
    margin-right:15px;
}
#menu{
    width:940px;
    height:35px;
    margin-left:auto;
    margin-right:auto;
}
#menu ul{
    width:940px;
    height:35px;
    text-align:center;
}
#menu ul li{
    float:left;
    border:1px solid gainsboro;     
    list-style:none;
    background-color:whitesmoke;
    font-weight:bold;
}
#menu ul li:nth-of-type(1){
    width:160px;
}
#menu ul li:nth-of-type(2){
    width:200px;
}
#menu ul li:nth-of-type(3){
    width:220px;
}
#menu ul li:nth-of-type(4){
    width:180px;
}
#menu ul li:nth-of-type(5){
    width:180px;
}
#menu ul li p{
    font-size:10px;
    font-weight:unset;
    letter-spacing:normal;
    line-height:1;
    transform:scale(.85);
    color:#ad8c47; 
}
#main{
    width:940px;
    margin-left:auto;
    margin-right:auto;
}
#main #in-main1 .in-main1-1{
    float:left;
    width:50%;
}
#main #in-main1 .in-main1-2{
    float:right;
    width:50%;
}
