body{
    color: #333;
    font-size: 14px;
    font-size: 1.4rem;
    font-family: "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3",Hiragino Kaku Gothic Pro,Osaka,"ＭＳ Ｐゴシック",MS PGothic,Sans-Serif,verdana;
    line-height: 2;
    display:none;
}
html{
    font-size: 62.5%;
    box-sizing:border-box;
}
img{
    max-width: 100%;
    border-style: none;
}
*{
    margin:0px;
    padding:0px;
}
.cf{
    clear:both;
}
#list{
    display:table;
    max-height:100px;
    max-width:940px;
    width:100%;
    margin:0px auto;
    padding:20px 0px;
}
#list .in-list{
    max-height: 61px;
    max-width: 167px;
    margin-left: 20px;
    display:table-cell;
}

#list .in-list2{
    height:60px;
    padding:5px 0px;
    float:right;
}
#list ul{
    display:table-cell;
    width:100%;
    height:50px;
    text-align:right;
    vertical-align:middle;
    letter-spacing:-.41em;
}
#list .in-list2 ul li{
    display:table-cell;
    vertical-align:middle;
    letter-spacing:normal;
    height:100%;
    border-right:1px solid #e9e3d3;
}
#list .in-list2 ul li span{
    width:100%;
    height:100%;
    padding-left:20px;
    padding-right:20px;
    vertical-align:middle;
    
}

#list .in-list2 ul li span img{
    vertical-align:middle;
    width:25%;
    margin-right:10%;
}
#menu{
    width:100%;
    height:60px;
    line-height:20px;
    background-color:#3d2900;
}
#menu ul{
    max-width:940px;
    margin:0px auto;
    height:100%;
    display:table;
}
#menu ul li{
    color:white;
    text-align:center;
    list-style:none;
    display:table-cell;
    vertical-align:middle;
    height:100%;
}
#menu ul li:nth-of-type(1){
    width:13.4%;
    background-color:#7a5200;
}
#menu ul li:nth-of-type(2){
    width:13.5%;
}
#menu ul li:nth-of-type(3){
    width:17%;
}
#menu ul li:nth-of-type(4){
    width:13.5%;
}
#menu ul li:nth-of-type(5){
    width:21.27%;
}
#menu ul li:nth-of-type(6){
    width:21.27%;
}
#menu ul li a{
    color:white;
    height:100%;
    text-align:center;
    display:block;
    padding:10px 0px;
} 
#menu ul li h3{
    color:#ad8c47;
    font-size:10px;
    letter-spacing:.5px;
    text-align:center;
    vertical-align:middle;
    line-height:1;
    transform:scale(.85);
    margin-top:0px;
    display:block;
    margin-bottom:0px;
}
#main{
    width:100%;
}
.main-top img{
    width:100%;
}

.main-mid{
    max-width:940px;
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
}
.main-mid p{
    line-height:30px;
    font-size:14px;
}
.in-main-mid-top{
    display:flex;
    font-size:1.4rem;
    font-weight:400;
    color:#3e2800;
    margin-left:20px;
    margin-top:10px;
    margin-bottom:20px;
}
.in-main-mid-top h3{
    font-size:10px;
    color:#ad8c47;
    transform:scale(.85);
    letter-spacing:1px;
    margin-left:13px;
    font-family: Open Sans,sans-serif;
}
#in-main{
    display:flex;
}
#in-main .in-main-top{
    padding-right:20px;
    display:table-cell;
    text-align:center;
}
#in-main .in-main-top img{
    width:100%;
}
#in-main .in-main-top h3{
    line-height:50px;
    font-size:15px;
}
.in-main-mid{
    width:100%;
    margin-top:25px;
}
.in-main-mid1{
    margin-top:20px;
    margin-bottom:20px;
    padding-left:20px;
    display:flex;
}
#main .in-main-mid h2{
	padding-bottom:15px;
	padding-left:20px;
	font-size:16px;
}
#index1-main{
        width:940px;
	margin-left:auto;
	margin-right:auto;
}
.in-main-mid img{
	width:300px;
}
.index1-in-main-mid{
	margin-left:-20px;
	margin-top:-20px;
	display:flex;
	flex-flow: row wrap;
}
#index1-main .in-main-mid h2{
	padding-bottom:15px;
	padding-left:20px;
	font-size:16px;
}
.in-main-mid1-1{
	padding-left:20px;
	padding-top:20px;
	width:33.3333%;
}
.in-main-mid1-1 img{
	margin-bottom:10px;
}
.in-main-mid1-2{
	text-align:center;
	padding-left:0!important;
	font-weight:400;
	font-size:14px;
	font-size:1.4rem;
	padding-left:20px;
	margin-bottom:20px;
	color:#3e2800;
}
.in-main-mid1-2 h3{
	margin-left:0px;
	font-size:10px;
	transform:scale(.85);
	letter-spacing:.5px;
	font-family:Open Sans,sans-serif;	
	color:#ad8c47;
}
.in-main-mid2-2 h3{
	margin-left:0px;
	font-size:10px;
	transform:scale(.85);
	letter-spacing:.5px;
	font-family:Open Sans,sans-serif;	
	color:#ad8c47;
}
.in-main-mid3-2 h3{
	margin-left:0px;
	font-size:10px;
	transform:scale(.85);
	letter-spacing:.5px;
	font-family:Open Sans,sans-serif;	
	color:#ad8c47;
}
.index1-in-main-mid .in-main-mid2-1{
	padding-left: 20px;
        padding-top: 20px;
    	width: 33.3333%;
}
.in-main-mid2-1:nth-of-type(3){
	margin-top:-27px!important;}
.in-main-mid2-2{
	text-align:center;
	margin-top:6px;	
	line-height:24px;
}
.in-main-mid2-2 h2{
	color:#3e2800;
	padding-bottom:0px;
	padding-left:0px;
	font-size:14px;
}
.in-main-mid2-2 h3{
	color:#ad8c47;
	font-size:10px;
}
.index1-in-main-mid3{
	margin-top:35px;
	width:100%;
}
.in-main-mid3-1{
  	padding-left: 20px;
        padding-top: 20px;
        width: 33.3333%;
}
.in-main-mid3-2{
	text-align:center;
	margin-top:6px;
	line-height:24px;
}
.in-main-mid3-2 h2{
	color:#3e2800;
	padding-bottom:0px;
	padding-left:0px;
	font-size:14px;
}
.in-main-mid3-2 h3{
	color:#ad8c47;
	font-size:10px;
}
.in-main-mid1 h3{
    font-size: 1.4rem;
    font-weight: 400;
    color: #3e2800;}
.in-main-mid1 h4{
    font-size:10px;
    color:#ad8c47;
    letter-spacing:.5px;
    transform:scale(.85);
    margin-left:10px;
    font-family:Open Sans,sans-serif;
}
#in-main-mid{
    margin-top: -20px;
    margin-left: -20px;
    display:flex;
}
.in-main-mid .in-main-mid2{
    width:50%;
    padding-top:20px;
    padding-left:20px;
}
.in-main-mid .in-main-mid2 .in-main-mid2-top1{
    height:315px;
    background-color:rgb(253,248,236);
    padding-bottom:10px;
    padding-right:20px;
    padding-left:20px;
    overflow:auto;
}
.in-main-mid .in-main-mid2-top3{
    padding: 15px 0;
    border-bottom: 1px dotted #9d9076;
}
.in-main-mid .in-main-mid2-top3:last-child{
    border-bottom:none;
}
.in-main-mid .in-main-mid2-top3 h2{
    font-weight:700;
    font-size:12px;
    font-size:1.2rem !important;
}
.in-main-mid2-top{
    color:#7a2e00;
    font-size:14px;
    font-size:1.4rem;
    font-weight:400;
    text-decoration: underline;
}
.in-main-mid .in-main-mid3{
    width:50%;
    text-align:center;
    padding-top:20px;
    padding-left:20px;
}
.in-main-mid .in-main-mid3 h3{
    font-weight:400;
}
#in-main2{
    background-color:#f8f6f1;
    margin-top: 50px;
    padding: 50px 0;
}
#in-main2 .in-main2-end{
    width:940px;
    margin-left:auto;
    margin-right:auto;
}
.in-main2-end-1{
    display:flex;
    margin-top:-20px;
    margin-left:-20px;
}
.in-main2-end2{
    width: 16.6667%;
    text-align:center;
    padding-top: 20px;
    padding-left: 20px;
}
.in-main2-end2 p{
    margin-top:15px;
    text-align: center;
}
#footer{
    padding-bottom:100px;
    display:table;
    width:100%;
}
.in-footer{
    max-width:278px;
    align-items:center;
    display:flex;
    margin:0px auto;
    padding:50px 0px;
 }
.in-footer p{
    color:rgb(62,40,0);
    text-align:center;
    margin:0px 20px;
}
.in-footer img{
    width:60px;
    margin-right:10px;
}
.in-footer img:last-child{
    margin-right:0px;
}
#footer .in-footer1{
    display:table-cell;
    font-size:16px;
    margin-right:22px;
    vertical-align:middle;
}
#footer .in-footer2{
    display:table-cell;
    vertical-align:middle;
}
#footer .in-footer2 img{
    width:65px;
}
#footer .list{
    border-right:1px solid gray;
}
#footer .list ul{
    display:table;
    width:710px;
    text-align:center;
    margin:0 auto;
    margin-top:70px;
}
#footer .list ul li{
    list-style:none;
    display:table-cell;
}
#footer .in-footer3{
    text-align:center;
    display:block;
    margin:40px auto;
}
#footer .in-footer3 img{
    width:25%;
}
#footer p:last-child{
    text-align:center;
    color: #d7d2c7;
}
#index2-main{
    width:940px;
    margin-left:auto;
    margin-right:auto;
}
#index2-main #index2-in-main-top .index2-in-main-top1{
    font-size:1.6rem;
    padding:15px 20px;
    margin-bottom:20px;
    color:#3e2800;
    background-color:#f8f6f1;
    display:flex;
    font-weight:bold;
}
#index2-main #index2-in-main-top .index2-in-main-top1 p{
    font-weight:400;
    font-size:10px;
    transform:scale(.85);
    letter-spacing:.5px;
    margin-left:10px;
    color:#ad8c47;
    font-family:Open Sans,sans-serif;
}
#index2-main #index2-in-main-top .index2-in-main-top2{
    margin-left:-20px;
    margin-top:-20px;
    margin-bottom:-20px;
}
#index2-main #index2-in-main-top .index2-in-main-top2 .index2-in-main-top2-mid{
    display:flex;
}

#index2-main #index2-in-main-top .index2-in-main-top2 .index2-in-main-top2-1{
    padding-top:20px;
    padding-left:20px;
    width:25%;    
}
#index2-main #index2-in-main-top .index2-in-main-top2 .index2-in-main-top1-1 h3{
    padding:20px 0px 30px;
    background-color:#f8f6f1;
    position:relative;
    text-align:center;
    padding-left:0!important;
    font-weight:400;
    font-size:1.4px;
    font-size:1.4rem;
    padding-left:20px;
    margin-bottom:20px;
    margin-top:-9px;
    color:#3e2800;
}
#index2-main #index2-in-main-top .index2-in-main-top2 .index2-in-main-top1-1 .index2-in-main-top1-1-1{
    line-height:1;
    margin-top:5px;
    font-size:10px;
    transform:scale(.85);
    letter-spacing:.5px;
    color:#ad8c47;
    margin-left:0px;
    font-family: Open Sans,sans-serif;
}
.index2-in-main-top1-1 h3{
    position:relative;
    z-index:0;
}
.tab{
    position:absolute;
    z-index:1;
    border-radius:50%;
    width:50px;
    height:50px;
    background-color:#f9be00;
    color:#fff;
    font-weight:700;
    line-height:50px;
    text-align:center;
    font-size:12px;
    font-size:1.2rem;
    font-family:Open Sans,sans-serif;
    right:10px;
    bottom:50%;
    transform: translateY(50%);
}
#index2-in-main-mid .index2-in-main-mid1{
    border:10px solid #f8f6f1;
    margin-top:20px;
}
#index2-in-main-mid .index2-in-main-mid1-1{
    padding:40px 30px 25px;
    color:#3e2800;
}
#index2-in-main-mid .index2-in-main-mid1-1-1{
    font-weight:700;
    font-size:1.6rem;
    font-size:16px;
}
#index2-in-main-end{
    padding-top:50px;
    border-top:1px solid #e9e3d3;
}
#index2-in-main-end .index2-in-main-end1{
    padding:10px 20px;
    font-size:16px;
    font-size:1.6rem;
    font-weight:bold;
    color:#3e2800;
}
#index2-in-main-end .index2-in-main-end2{
    margin-top:-20px;
    margin-left:-20px;
}
.index2-in-main-end2 ul{
    display:flex;
    flex-flow:row wrap;
    width:100%;
}
.index2-in-main-end2 ul li{
    list-style:none;
    width:20%;
    padding-top:20px;
    padding-left:20px;
}
.index2-in-main-end2 ul li p{
    font-size: 14px;
    font-size: 1.4rem;
    color: #3e2800;
    vertical-align: middle;
    text-align: center;
}
#footer .index2-in-footer{
    margin-bottom:120px;
    margin-top:40px;
    padding:10px 20px;
    font-size:16px;
    font-size:1.6rem;
    text-align:center;
    border:5px solid #e9e6dd;
    width:100%;
    height:100%;
    max-width:300px;
    margin-left:auto;
    margin-right:auto;
}
#index3-main{
    min-height:550px;
    width:940px;
    margin-left:auto;
    margin-right:auto;
}
#index3-main .index3-in-main1{
    display:inline-block;
    height: 50px;
    width: 940px;
    line-height: 50px;
    font-weight: bold;
    color: #3d2900;
    font-size: 1.1em;
    text-indent: 20px;
}
#index3-main .index3-in-main2{
    background-color: #f8f6f1;
    overflow: hidden;
}
#index3-main .index3-in-main2-1{
    display:flex;
    margin: 10px 0 10px 10px;
    height: 340px;
}
#index3-main .index3-in-main2-1 .index3-in-main2-img{
    margin-left:10px;
    height:340px;
}
#index3-main .index3-in-main2-1 .index3-in-main2-img:first-child{
    margin-left:0px;
}
@media(max-width:590px){
    #body{
    	line-height:1.8;
}
    #wrapper{
 	width:100%;
}
    #list{
        padding-top:10px;
	margin:0px;
	width:100%;
        display:block;
        padding-bottom:0px;
        position:relative;
}
    #list .in-list{
 	max-height:127px;
	width:100%;
	max-width:100%;
	padding-bottom:10px;
	margin:0 auto;
	display:block;
}
    #list .in-list img{
	width:40%;
        max-width:259px;
        display: block;
        position:relative;
	margin:0 auto;
}
    #list .in-list2{
	border-bottom: 1px solid #e9e3d3;
	width:100%;
	padding:0px;
}
    #list .in-list2 ul{
        width:100%;
	text-align:center;
        height:55px;
        display:table;
	border-top:1px solid #e9e3d3;
}
    #list ul img{
        width:30px;
}
    #list .in-list2 ul li{
        padding:0px;
        width:25%;
        display:table-cell;
        vertical-align:middle;
}
    #menu{
        display:none;
}
    #main{
        width:100%;
}
    #index1-main{
        width:100%;
}
    #index1-main .main-mid{
	width:90%;
	margin-left:5%;
	margin-right:5%;
	margin-top:13px;
}
.index1-in-main-mid1{
	width:90%;
        margin-left:5%;
}
.index1-in-main-mid{
	margin-left:-20px;
	margin-top:-20px;
}
.index1-in-main-mid .in-main-mid1-1{
	width:50%;
}
.index1-in-main-mid .in-main-mid2-1{
	width:50%;
}
.index1-in-main-mid .in-main-mid3-1{
	width:50%;
}
.in-main-mid1-2{
	font-weight:bold;
}
#index2-main{
        width:100%;
}
#index2-main #index2-in-main-top{
        margin-top:-27px;
}
#index2-main #index2-in-main-top .index2-in-main-top2 {
        width:90%;
        margin-left:5%;
        margin-top:0px;
}
#index2-main #index2-in-main-top .index2-in-main-top2 .index2-in-main-top1-1 .index2-in-main-top1-1-1 .tab{
        right:7px;
        bottom:54%;
        width:22%;
        height:27%;
        line-height:37px;
}
#index2-main #index2-in-main-top .index2-in-main-top2 .index2-in-main-top2-mid {
        display:flex;
        flex-flow:row wrap;
        margin-left:-10px;
        margin-top:-10px;
}
#index2-main #index2-in-main-top .index2-in-main-top2 .index2-in-main-top2-1{
        padding-top:10px;
        padding-left:10px;
        width:50%;
}
#index2-main #index2-in-main-mid .index2-in-main-mid1
{
        border:7px solid #f8f6f1;
}
#index2-main #index2-in-main-mid .index2-in-main-mid1
.index2-in-main-mid1-1{
        padding:27px 17px 15px;
}
#index2-main #index2-in-main-top .index2-in-main-top2 .index2-in-main-top1-1 h3{
        margin-bottom:0px;
} 
#index2-main #index2-in-main-mid{
        margin-top:30px;
}
#index2-main #index2-in-main-end{
	padding-top:18px;
}
#index2-main #index2-in-main-end .index2-in-main-end2{
	margin:0px 20px;
}
#index2-main #index2-in-main-end .index2-in-main-end2 .index2-in-main-end2-top{
        margin-left:-15px;
        margin-top:-15px;
}
#index2-main #index2-in-main-end .index2-in-main-end2 .index2-in-main-end2-top ul li{
	width:33.3333%;
	padding-top:15px;
	padding-left:15px;
}
#footer .index2-in-footer{
        max-width:100%;
	width:90%;
	margin-top:25px;
	margin-bottom:65px;
}

    #main .main-mid{
	margin-left:18px;
	margin-right:18px;
}
     #main .main-mid p{
	display:none;
}
    #main .in-main-mid-top{
  	margin-left:0px;
  	margin-top:0px;
}
    #main .main-mid .in-main-mid-top h2{
	font-size:16px;
        font-weight:700;
}
    #main .main-mid .in-main-mid-top h3{
	font-weight:400;
}
    #main #in-main{
	margin-right:-10px;
	display:flex;
 	flex-flow:row wrap;
}
    #in-main .in-main-top{
	padding-right:10px;
        padding-top:10px;
 	width:50%;
}
    #in-main .in-main-top h3{
	font-size:inherit;
	line-height:inherit;
	
}

    .in-main-mid1{
        margin-top:10px;
        font-size: 1.6rem;
        padding-left: 0;
}
    .in-main-mid1 h3{
        font-weight:inherit;
	font-size:inherit;
}
     .in-main-mid1 h4{
	font-weight:400;
	padding-top:5px;
}
    #in-main-mid{
	margin-left:-18px;
	margin-right:-18px;
	flex-flow:row wrap;
}
    .in-main-mid2{
	width:100% !important; 
 	padding-left:0px !important;
}
    .in-main-mid2 .in-main-mid2-top1{
	padding-left:5%;
	padding-right:5%;
	padding-bottom:5px;
}
    .in-main-mid2 .in-main-mid2-top3{
	padding:8px 0px;
}
    .in-main-mid .in-main-mid3{
	width:100%;
	text-align:center;
	height:10px;
	padding-top:8px;
}
    .in-main-mid .in-main-mid3 h3{
	margin-left:-20px;
	font-weight:400;
}
    #in-main2{
	padding:30px 0px;
}
    #in-main2 .in-main2-end{
   	width:90%;
	margin:0 5%;
}
     #in-main2 .in-main2-end-1{
	display:flex;
        flex-flow:row wrap;
	margin-left:-8px;
}
    #in-main2 .in-main2-end-1 .in-main2-end2{
	width:33.333%;
	padding-top:20px;
	padding-left:8px;
}
     #in-main2 .in-main2-end-1 img{
	width:100%;
}
    #in-main2 .in-main2-end2 p{
	font-size:10px;
	margin:0px;
	width:100%;
	text-align:center;
}
    #footer .in-footer{
	max-width:100%;
	padding:30px 40px;
}
    #footer .list{
 	margin-top:30px;
}
    #footer .list ul{
	margin-left:0px;
	margin-top:20px;
	text-align:left;
	width:100%;
	border-top: 1px solid #e9e3d3;	
}
     #footer .list ul li{
	display:block;
	height:55px;
	padding:15px;
	border-bottom:1px solid #e9e3d3;
}
    #footer .in-footer3{
	text-align:center;
	margin:20px auto;
	width:73.59%;
}
     #footer .in-footer3 img{
        width:100%;
}
    #footer p:last-child{
	font-size: 1.2rem;
}
}
