
#wapper{
width:80%;
margin-left:10%;
margin-right:10%;
background-color:grey;
}

#menu ul li {
width:20%;
border: 1px solid black;
list-style:none;
float:left;
}

#content{
background-color:green;
clear:both;
}

#content-left{
background-color:lightblue;
width:50%;
float:left;
}

#content-right{
background-color:blue;
width:50%;
float:left;
}

#footer{

clear:both;
background-color:red;
}

