body{
    font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",Meiryo,メイリオ,Osaka,"MS PGothic",arial,helvetica,sans-serif;
}
#wrapper{
    width:100%;
    position:relative;
}
#nav{
	display:table;
    width:100%;
    position:absolute;
    z-index: 999;
}
#left{
    display:table-cell;
    max-width:200px;
    padding:20px;
}
#left img{
	max-width:200px;
	 width:100%;
}
#right{
	display:table-cell;
    vertical-align:top;
    padding:30px 40px 30px 0;
    text-align:-webkit-right;
    white-space: nowrap;
    font-family: "Lato","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",Meiryo,メイリオ,Osaka,"MS PGothic",arial,helvetica,sans-serif;
    font-weight: bold;
    font-size: 13px;
    color:#fff;
}
.nav{
	display:table-cell;
	padding-right:20px;
}
.nav ul{
    display:flex;
}
 .nav ul li:not(:last-child){
	margin-right:30px;
}
.nav ul li a{
    color:#fff;
}
.nav ul li ul{
	display:none;
}
#language{
	display:table-cell;
	line-height: 25px;
    font-size: 13px;
    text-align: center;
}
#language span{
	border:1px solid #fff;
	width: 25px;
    line-height: 23px;
    margin-left:8px;
    padding: 6px 2px;
}
#content{
	 display:block;
}
#content #top_video{
    overflow: hidden;
    right:0;
    left:0;
    bottom:0;
    min-width:100%;
    min-height:100%;
    height:100vh;
    width:100%;
}  
#text{
    position:absolute;
    top:-20px;
    left:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    font-family:"Lato","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",Meiryo,メイリオ,Osaka,"MS PGothic",arial,helvetica,sans-serif;
    color:#fff;
}
#text .big_text{
    font-size: 65px;
    line-height: 1.1;
    letter-spacing: 0.06em;
}
#text .small_text{
    font-size: 28px;
    letter-spacing: 0.06em;
    margin-top: 20px;
}
@font-face {font-family: "iconfont";
    src: url('iconfont.eot?t=1586935284330'); /* IE9 */
    src: url('iconfont.eot?t=1586935284330#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKUAAsAAAAABkgAAAJIAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApUZgE2AiQDCAsGAAQgBYRtBy4bigXILrBt2JMiNbPoaDA24VOAITwiiPZjP/veYSpRNIsmmiVSIUGIpEZpGsUr6evVXO6XQFZnxz+xKpFCG/q9hC9z2TJbFJqVqpCtcJVNQOb/etCtTV6f53J6E+hAWh8ox71ojUG9KLwXBxToHhhFVkIZN4xd4BIeEyjVKSuzMbu8BgMSa1Ugzj3HhIFcUJJYplgorDmYxJUCxdlFFnAZfj++lWOATEHOqtk+m+nA+Bs7J/efI58QIqDjBcgxDiRivza5qVswrltpskcv2Fdl8Ob/vkPs1SrYX2eVl4N2KLsnuau41UwGtzWuoZ981KVEw/7Y40n9ycNd49nTaVPT833DqeNdMfc0tlpRbdQro1P1+vToxqvbommoTY9YQb+Tb3VNQwbB8fXLL93Cf/FwAo9vf0JL0s8NinfjCn6HvOdQ0pWWPUuqvJafaThNR6lS/Ie9tX7HmhrOzQ/FI9xFOlLkivWTiR1HgTLzKFRsGaXGzB0vU0fpFqkEoy4BQrUvZCrdIFftm0zsDwo0+kOh6uhGqcOou7DMYHhD64pMpg5au+jZMhaOk4eiyhVyNkNTZZWhYINU6kWwlC8WM3MUk5pjS7rllJkFCiUjnAXPURhKTJT0yea8y5y0CwVR96a8LSMYsk4hJkY6kGUX8tikmPAns6HS51cQx6aQSbUM1KQ3ECXlzY5K8oo9yDld3GvgXl5JbXGUMSYgQZEiaBbMI6GQhJL6eT5iY3nuiHiirWCPEn11+fUN0dedglKWOQu7MZdO5HYMAAAA') format('woff2'),
    url('iconfont.woff?t=1586935284330') format('woff'),
    url('iconfont.ttf?t=1586935284330') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('iconfont.svg?t=1586935284330#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    border: none;
    position: absolute;
    left: 50%;
    bottom: 0px;
    background-color: inherit;
    margin-left:-25px;
    font-family: "iconfont" !important;
    font-size: 90px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-variant: normal;
    color:#fff;
    text-transform: none;
    line-height:1;
}
#news{
    width:100%;
    background-color: #198990;
    color:#fff;
}
#NEWS_title{
    max-width: 1080px;
    text-align: center;
    margin: 0 auto;
    padding: 70px 0 40px;
}
.title{
    font-family: "Lato","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",Meiryo,メイリオ,Osaka,"MS PGothic",arial,helvetica,sans-serif;
    font-size: 48px;
    font-weight: normal;
    letter-spacing: 0.4em;
    color: #fff;
    margin-right: -0.4em;
    position: relative;
}
#NEWS_text{
    max-width: 1080px;
    margin: 0 auto;
}
#NEWS_left{
    float: left;
    margin-right: 180px;
    width: calc((100% - 180px) / 2);
}
h3{
    font-family: "Lato","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",Meiryo,メイリオ,Osaka,"MS PGothic",arial,helvetica,sans-serif;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 0.3em;
    text-align: center;
    color: #fff;
    padding: 40px 0 20px;
}
#NEWS_right{
    float: right;
    width: calc((100% - 180px) / 2);
}
.text p{
    padding:10px;
    display: block;
    font-size: 12px;
    line-height: 2.8;
    color: #fff;
    transition: 0.4s;
}
.text span{
    font-family: "Lato","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",Meiryo,メイリオ,Osaka,"MS PGothic",arial,helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.68;
    color: #94b8c8;
    margin-left: 1em;
}
#NEWS_foot{
    padding:40px 0 50px;
}
#NEWS_foot p{
    display: block;
    width: 180px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding: 8px 0;
    border: 1px solid #fff;
    margin: 0 auto;
    transition: 0.4s;
}
#products{
    padding-bottom:70px;
    position: relative;
}
#PRODUCTS_tittle{
    max-width: 1080px;
    text-align: center;
    margin: 0 auto;
    padding: 80px 0;
    padding-bottom:70px;
}
#PRODUCTS_tittle h2{
    color:#000;
}
#PRODUCTS_main{
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
}
.Tegaki{
    width:25%;
}
img{
    width:100%;
    max-width:100%;
}
.Data{
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
    padding: 20px 0;
}
.content{
    font-size: 12px;
    line-height: 1.5;
    flex-grow: 2;
}
.PRODUCTS_foot{
    display: block;
    font-family: "Lato","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",Meiryo,メイリオ,Osaka,"MS PGothic",arial,helvetica,sans-serif;
    font-size: 15px;
    text-align: center;
    color: #fff;
    padding: 8px 0;
    background-color: #003d56;
    margin-top: 20px;
    transition: 0.4s;
}
#more{
    display:flex;
}
.more{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height: 480px;
    margin-right:8px;
}
#rd{
    background-image:url(img/team.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
#careers{
    background-image:url(img/tu7.jpg);
    background-size: cover;
    background-position: 50% 50%;
    margin-right:0px;
}
.more_text{
    text-align:center;
}
.more_title{
    font-family: "Lato","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",Meiryo,メイリオ,Osaka,"MS PGothic",arial,helvetica,sans-serif;
    font-size: 48px;
    letter-spacing: 0.2em;
    text-align: center;
    color: #fff;
    font-weight:normal;
}
.more_p{
    font-size: 14px;
    line-height: 1.8;
    color: #fff;
    padding: 0 20px 20px;
}
.more_a{
    display: block;
    max-width: 180px;
    width: 100%;
    font-family: "Lato","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",Meiryo,メイリオ,Osaka,"MS PGothic",arial,helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #003d56;
    padding: 8px 0;
    background-color: #fff;
    margin: 0 auto;
    transition: 0.4s;
}
@font-face{font-family:'icon';
src:url("../font/icon.eot?uo6ls");
src:url("../font/icon.eot?uo6ls#iefix") format("embedded-opentype"),
url("../font/icon.ttf?uo6ls") format("truetype"),
url("../font/icon.woff?uo6ls") format("woff"),
url("../font/icon.svg?uo6ls#icon") format("svg");
format("svg");font-weight:normal;font-style:normal
}
[class^='icon-'],[class*=' icon-']{
    font-family:'icon' !important;
    speak:none;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale}
    .icon-arrow_l_up:before{content:'\e901'}
    .icon-arrow_m_up:before{content:'\e905'}
    .icon-arrow_s_up:before{content:'\e909'}
#go_top{
    padding: 0 20px 20px;
    text-align: right;
}
.go_top{
    display: inline-block;
    font-size: 20px;
    line-height: 0;
    color: #fff;
    padding: 10px;
    background-color: #003d56;
}
footer{
    background: linear-gradient(to bottom, #336377 0%, #003d56 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#336377', endColorstr='#003d56',GradientType=0 );
    font-family: "Lato","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",Meiryo,メイリオ,Osaka,"MS PGothic",arial,helvetica,sans-serif;
    font-weight: bold;
    color: #fff;
    padding: 0 30px;
}
footer #footer_inner{
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
}
footer #footer_inner ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
footer #footer_inner ul li a{
    font-size: 13px;
    transition: 0.4s;
    color: #fff;
}
footer #footer_inner ul li ul{
    display:block;
    margin-top:20px;
}
footer #footer_inner ul li ul li{
    margin-bottom:10px;
}
footer #footer_inner ul li ul li a{
    font-size: 13px;
    color: #ccd8dd;
    transition: 0.4s;
    font-weight: normal;
}
footer #img{
    margin:40px auto 140px;
    text-align: center;
}
img{
    max-width: 173px;
    width:100%;
}
#footer_bottom{
    width: 100%;
    display: table;
}
#footer_inner_lang{
    display:table-cell;
    vertical-align: middle;
}
.footer_lang{
    font-size: 13px;
    font-weight: normal;
    line-height: 25px;
}
#footer_inner_lang span{
    margin-left:8px;
}
#footer_inner_lang span{
    width: 25px;
    line-height: 23px;
    padding: 5px 2px;
    border: 1px solid #fff;
}
#footer_submenu{
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}
#footer_submenu a{
    display: inline-block;
    color:#fff;
    font-size: 13px;
    font-weight: normal;
    margin-left: 20px;
}
#footer_submenu p{
    display:inline-block;
    font-size: 13px;
    font-weight: normal;
    margin-left: 20px;

}









